body {
    background: rgba(31, 29, 29, 0.973);
    color: rgba(214, 201, 201, 0.852);
}

header {
    text-align: center;
}

#survey-form {
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    border: 3px solid rgba(201, 192, 192, 0.934);
    background: rgba(99, 95, 95, 0.945);
}

label {
    display: block;
    margin: 1.2em 0;
}

input {
    display: block;
}

.radio-label {
    vertical-align: middle;
    margin: .5em 0;
}

.radio-heading {
    font-weight: 600;
    font-size: 1.2rem;
}

#yes, #no, #money, #bored {
    display: inline;
}

fieldset {
    border: none;
}

button {
    display:block;
    width: 10%;
    margin: 10px auto;
}
